.container, .container .modal-body, .container .row{
    padding-left: 0;
    padding-right: 0;
}

.container .row{
    margin-left: 0;
    margin-right: 0;
}

.title{
    color: #969595;
    font-weight: 600;
}

.title, .dado{
    font-size: 1.0rem;
}

.modal-body div{
    text-align: left;
}

fieldset{
    border: 1px dotted #cecece;
}

legend{
    width: auto;
    margin-left: 10px;
    padding: 0 10px;
    font-weight: 600;
    font-size: 1.2rem;
    color: #5f5e5e;
}

.invalido{
    border-color: red;
}

.invalido:focus{
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgb(255 0 0 / 25%);
}

.confirmacao .row div{
    text-align: left;
}

.modal-body{
    padding-bottom: 0;
}
