body,
html {
    background-size: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-image: url('/img/fundo.jpg'); background-size: cover
}

.user_card {
    height: 480px;
    width: 500px;
    margin-top: auto;
    margin-bottom: auto;
    background: rgba(211,211,211, 0.8);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

}

.user_card form{
    width: 90%;
    margin-top: 90px;
}


.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #5FB404;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background:  #088A4B !important;
    color: white !important;
    transition: 0.3s;
    margin-top: 30px;
}

.login_btn:hover{
    background: #0B6138 !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #088A4B !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}

fieldset {
    background-color:#CCC;
    padding: 10px;
    border:1px solid green;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    width: 100%;
}

legend{
    margin-bottom:0;
    margin-left:16px;
    padding: 0 10px;
    width: auto;
    font-weight: 500;
    font-size: 1rem;
}

.opcao{
    padding: 0 10px;
}

input[type="radio"] {
    visibility: hidden;
    padding: 5px 0;
}

input[type="radio"]:checked+label {
    border-bottom: 2px solid #5fb404;
    border-radius: 5px;
}

.opcao label{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: gray;
}

.opcao img{
    width: 40px;
    height: auto;
    margin-bottom: 5px;
}

